body {
    background-color: #2C2C2C;
}

.navbar {
    
}

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navbar-list-section .navbar-list-section2 .navbar-list-section3{
    display: flex;
    flex-direction: row;
}

.navbar-list-section3 {
    margin-right: 20px;
}

.navbar-list-section-logo {
    width: 225px;
    height: 60px;
}

.navbar-list-section-button {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 24px;
    margin-right: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.navbar-list-section-button-disabled {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 24px;
    margin-right: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.navbar-list-section-button-disabled::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
}

.navbar-list-section-button::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.navbar-list-section-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.horizontal-line {
    color: white
}

.nolink {
    text-decoration: none;
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.login-logo {
    height: 100px;
}

#sign-in {
    height: 50px;
    width: 125px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #2C2C2C;
    border: solid;
    border-color: white;
    color: white;
}

#sign-in:hover {
    background-color: #303030;
}

.login {
    background-color: #252525;
    width: fit-content;
    padding: 50px;
    border: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 25px;
}

.welcome-text {
    font-size: 50px;
    margin: 0px;
    margin-top: 15px;
    color: white;
}

.text-login-page {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;
}

.details {
    margin-bottom: 10px;
    height: 25px;
    width: 350px;
    border-radius: 8px;
    padding: 5px;
    border: solid;
    border-color: white;
    background-color: #2C2C2C;
    color: white;
}

.remember-forgot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.take-to-signup {
    display: flex;
}

.sign-up {
    display: flex;
    align-items: center;
    color: #4040ff;
    cursor: pointer;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
    background: none; 
}

.forgot {
    margin-bottom: 50px;
}