body {
    background-color: #2C2C2C;
}

.navbar {
    
}

.navbar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-list-section {
    display: flex;
    flex-direction: row;
}

.navbar-list-section-button {
    color: white;
    font-size: 24px;
    padding: 5px;
    margin-left: 4px;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-list-section-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-list-section-button-account {
    margin-left: 100%;
}

.horizontal-line {
    color: white
}